input {
  font-size: 11;
}

input[type="number"] {
  width: 80px;
}

tbody tr td {
  font-size: 12;
}
thead th {
  font-size: 13;
}

button {
  font-size: 13;
  height: 30px;
  padding-top: 0px;
}

#buscarProducto {
  width: 200px;
  margin-left: 15px;
}

.btn-compras {
  margin-top: 13px;
  padding-top: 3px;
}

#lista_productos {
  max-height: 150px;
  width: 450px;
  overflow-y: scroll;
}

#buscarProductoCompra {
  margin-left: 15px;
}

#agregarProducto, #consultarCompras {
  padding-top: 5px;
}

.btn {
  padding-top: 3px;
}
.img_pago {
  margin-left: 5px;
  margin-top: -3px;
}

.fecha_pago_limite {
  font-weight: bold;
  color: red;
}

#divBuscarCompra {
  margin-top: 28px;
}
