<h2>Compras</h2>
<div ng-controller="ComprasCtrl" class="container" ng-init="estado=''">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-success btn-compras" data-toggle="modal" data-target="#nuevaCompra">
        <i class="fa fa-file-text" aria-hidden="true"></i> Nueva compra
      </button>
    </div>
    <div class="col-md-5">
      <label>Elige las fecha para consultar las compras:</label>
      <div class="fechas">
        <input size="25" ng-model="fecha_inicial" type="text" placeholder="Fecha inicial">
        <input size="25" ng-model="fecha_final" type="text" placeholder="Fecha final">
        <button class="btn btn-info" id="consultarCompras" ng-click="consultarCompras()">
          <i class="fa fa-file-text" aria-hidden="true"></i> Consultar
        </button>
      </div>
    </div>
    <div class="col-md-5" id="divBuscarCompra" ng-show="compras.length > 0">
      <label for="buscarCompraPorFactura">Buscar: </label>
      <input id="buscarCompraPorFactura" type="text" ng-model="buscarCompraPorFactura" placeholder="Por clave factura">
    </div>
  </div>
  <hr>
  <div class="row"><div class="col-md-12" ng-show="compras">
  <table class="table table-striped table-bordered" ng-show="compras.length > 0">
    <thead>
      <th>Productos</th>
      <th>Clave factura</th>
      <th>Fecha de facturación</th>
      <th>Fecha límite de pago</th>
      <th>Fecha de pago</th>
      <th hidden>Estado</th>
      <th>Proveedor</th>
      <th>Valor de la compra</th>
      <th>Comentarios</th>
      <th>Opciones</th>
    </thead>
    <tbody>
      <tr ng-repeat="co in compras | filter:buscarCompraPorFactura:co.clave_factura">
        <td>
          <any ng-repeat="pc in co.productos_completos" data-toggle="tooltip" title="Cantidad comprada: {{co.productos[$index].cantidad_comprada}}. Descripción: {{pc[0].descripcion}}.">
            {{ pc[0].nombre }}<any ng-if="$index < co.productos_completos.length - 1">, </any>
          </any>
        </td>
        <td>
          <input type="text" ng-if="co.editMode" ng-model="co.clave_factura">
          <any ng-show="!co.editMode">{{ co.clave_factura }}</any>
        </td>
        <td>
          <div class="fechas" ng-show="co.editMode">
            <input type="text" ng-model="co.fecha_facturacion">
          </div>
          <any ng-show="!co.editMode">{{ co.fecha_facturacion }}</any>
        </td>
        <td>
          <div class="fechas" ng-show="co.editMode">
            <input type="text" ng-model="co.fecha_limite_pago">
          </div>
          <any ng-show="!co.editMode">{{ co.fecha_limite_pago }}</any>
        </td>
        <td>
          <div class="fechas" ng-show="co.editMode">
            <input type="text" ng-model="co.fecha_pago">
          </div>
          <any ng-show="!co.editMode">{{ co.fecha_pago }}</any>
        </td>
        <td title="{{co.proveedor_completo[0]._id}}">
          {{ co.proveedor_completo[0].nombre }}
        </td>
        <td>
          <input type="number" ng-show="co.editMode" ng-model="co.valor">
          <any ng-show="!co.editMode">{{ co.valor }}</any>
          <img class="img_pago" ng-show="co.fecha_pago&&!co.editMode" src="img/check.png" width="15">
          <img class="img_pago" ng-show="!co.fecha_pago&&!co.editMode" src="img/cross.png" width="15">
        </td>
        <td>
          <textarea col="25", rows="3" ng-show="co.editMode" ng-model="co.comentario"></textarea>
          <any ng-show="!co.editMode">{{ co.comentario }}</any>
        </td>
        <td>
          <button title="Registrar pago" type="button" class="btn btn-info" ng-click="registrarPago(co)" ng-show="!co.fecha_pago&&!co.editMode" data-toggle="modal" data-target="#registrarPago">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-success" ng-click="actualizarCompra()" ng-show="co.editMode">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-warning" ng-click="editarCompra(co)" ng-show="!co.editMode">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="eliminarCompra(co)" ng-show="!co.editMode">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div></div>


  <!-- Modal Nueva compra-->
  <div class="modal fade" id="nuevaCompra" tabindex="-1" role="dialog" aria-labelledby="nuevaCompraModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Nueva compra</h4>
        </div>
        <div class="modal-body">
          <form id="form_compra">
            <div class="form-group">
              <label>Elige los producto: </label><input placeholder="Buscar producto" ng-model="buscarProducto" id="buscarProductoCompra">
              <div id="lista_productos">
                <div class="checkbox" ng-repeat="pro in productos | filter:buscarProducto">
                  <label ng-click="seleccionarProducto(pro)">
                    <input type="checkbox" name="lista_productos" ng-model="pro.seleccionado">
                    {{pro.nombre}}
                  </label>
                  <input ng-show="pro.seleccionado" type="number" ng-model="pro.cantidad_comprada" placeholder="Cantidad">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Elige el proveedor: </label>
              <select ng-model="proveedorSeleccionado" ng-change="seleccionarProveedor()">
                <option ng-repeat="pro in proveedores">{{ pro.nombre }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="claveFactura">Clave Factura</label>
              <input type="text" ng-model="nueva_compra.clave_factura">
            </div>
            <div class="form-group">
              <label>Fecha de facturación: </label>
              <div class="fechas">
                <input required id="fecha_compra" size="45" ng-model="nueva_compra.fecha_facturacion" placeholder="Fecha de facturación">
              </div>
            </div>
            <div class="form-group">
              <label>Valor de la compra: </label><br>
              <input type="number" ng-model="nueva_compra.valor" required><br>
            </div>
            <div class="form-group">
              <label>Comentario: </label><br>
              <textarea cols="35" rows="5" ng-model="nueva_compra.comentario" placeholder="Comentarios"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button ng-disabled="!nueva_compra.fecha_facturacion || !nueva_compra.cantidad || !nueva_compra.valor"
          type="button" for="form_compra" class="btn btn-primary"
          data-dismiss="modal" ng-click="guardarCompra()">
          Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal para registrar pago -->
  <div class="modal fade" id="registrarPago" tabindex="-1" role="dialog" aria-labelledby="registrarPagoModal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Registrar pago</h4>
        </div>
        <div class="modal-body">
          <form id="formPago">
          <label for="fecha_pago">Fecha de pago: </label>
            <div class="fechas form-group">
              <input class="form-control" required id="fecha_pago" size="30" ng-model="fecha_pago" placeholder="Fecha de pago de la compra">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button id="guardarPagoCompra" ng-click="guardarPagoCompra" type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
