<div ng-controller="HomeCtrl">
    <h2>Productos</h2>
  <div class="row">
    <div class="col-md-8">
    <button id="agregarProducto" class="btn btn-success" data-toggle="modal" data-target="#nuevoProducto">
      <i class="fa fa-file-text" aria-hidden="true"></i> Agregar producto
    </button>
    <label for="buscarProducto">Buscar: </label>
    <input type="text" ng-show="!pr.editMode" ng-model="buscarProducto" placeholder="Por nombre" id="buscarProducto" ng-change="buscarProductosXNombre()">
    </div>
  </div><hr>
  <div class="row"><div class="col-md-12">
  <table class="table table-striped table-bordered" ng-show="productos.length > 0">
    <thead>
      <th>Nombre</th>
      <th>Número de parte</th>
      <th>Contenido</th>
      <th>Descripción</th>
      <th>Precio de compra</th>
      <th>Precio de venta</th>
      <th>Existencia</th>
      <th>Opciones</th>
    </thead>
    <tbody>
      <tr ng-repeat="pr in productos | filter:buscarProducto">
        <td>
          <input type="text" ng-show="pr.editMode" ng-model="pr.nombre">
          <any ng-show="!pr.editMode">{{ pr.nombre }}</any>
        </td>
        <td>
          <input type="text" ng-show="pr.editMode" ng-model="pr.numero_parte">
          <any ng-show="!pr.editMode">{{ pr.numero_parte }}</any>
        </td>
        <td>
          <input type="text" ng-show="pr.editMode" ng-model="pr.cantidad">
          <any ng-show="!pr.editMode">{{ pr.cantidad }}</any>
        </td>
        <td>
          <textarea cols="40" rows="3" ng-show="pr.editMode" ng-model="pr.descripcion"></textarea>
          <any ng-show="!pr.editMode">{{ pr.descripcion }}</any>
        </td>
        <td>
          <input type="number" ng-show="pr.editMode" ng-model="pr.precio_compra">
          <any ng-show="!pr.editMode">{{ pr.precio_compra }}</any>
        </td>
        <td>
          <input type="number" ng-show="pr.editMode" ng-model="pr.precio_venta">
          <any ng-show="!pr.editMode">{{ pr.precio_venta }}</any>
        </td>
        <td>
          <input type="number" ng-show="pr.editMode" ng-model="pr.existencia">
          <any ng-show="!pr.editMode">{{ pr.existencia }}</any>
        </td>
        <td>
          <button type="button" class="btn btn-success" ng-click="actualizarProducto()" ng-show="pr.editMode">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-warning" ng-click="editarProducto(pr)" ng-show="!pr.editMode">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="eliminarProducto(pr)" ng-show="!pr.editMode">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="productos.length > 0">
    <label>Página: {{indice + 1}}</label>
    <nav aria-label="Page navigation" id="paginador">
      <ul class="pagination">
        <li>
          <a ng-hide="indice == 0" href="" aria-label="Previous" ng-click="cambioPagina(indice - 1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-repeat="pag in paginas"><a href="" ng-click="cambioPagina($index)">{{$index + 1}}</a></li>
        <li>
          <a ng-hide="indice == (paginas.length - 1)" href="" aria-label="Next" ng-click="cambioPagina(indice + 1)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  </div></div>

  <!-- Modal -->
  <div class="modal fade" id="nuevoProducto" tabindex="-1" role="dialog" aria-labelledby="nuevoProductoModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Nuevo producto</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="prodNombre">Nombre</label>
              <input ng-model="nuevo_producto.nombre" type="text" class="form-control" id="prodNombre" placeholder="Nombre del producto">
            </div>
            <div class="form-group">
              <label for="prodCantidad">Contenido</label>
              <input ng-model="nuevo_producto.cantidad" type="text" class="form-control" id="prodCantidad" placeholder="Cantidad del producto">
            </div>
            <div class="form-group">
              <label for="prodNumParte">Número de parte</label>
              <input ng-model="nuevo_producto.numero_parte" type="text" class="form-control" id="prodNumParte" placeholder="Número de parte">
            </div>
            <div class="form-group">
              <label for="prodDescripcion">Descripción</label>
              <textarea ng-model="nuevo_producto.descripcion" type="text" class="form-control" id="prodDescripcion" placeholder="Descripción del producto"></textarea>
            </div>
            <div class="form-group">
              <label for="prodPrecioCompra">Precio de compra neto</label>
              <input ng-model="nuevo_producto.precio_compra" type="number" class="form-control" id="prodPrecioCompra" placeholder="Precio de compra neto del producto">
            </div>
            <div class="form-group">
              <label for="prodExistencia">Existencia</label>
              <input ng-model="nuevo_producto.existencia" type="number" class="form-control" id="prodExistencia" placeholder="Existencia del producto">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="guardarProducto()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal para las notificaciones -->
  <div class="modal fade" id="notificaciones" tabindex="-1" role="dialog" aria-labelledby="notificacionesModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Notificaciones</h4>
        </div>
        <div class="modal-body">
          <div class="list-group" ng-if="productos_existencia.length>0">
            <h4>Lista de productos con poca existencia</h4>
            <div class="list-group-item" ng-repeat="pe in productos_existencia">
              <b>Nombre: {{ pe.nombre }}.</b><br>
              Número de parte: {{ pe.numero_parte }}<br>
              Contenido: {{ pe.cantidad }}<br>
              Existencia: {{ pe.existencia }}
            </div>
          </div>
          <div class="list-group" ng-if="compras_pagar.length>0">
            <h4>Lista de facturas que requieren pagarse</h4>
            <div class="list-group-item" ng-repeat="cp in compras_pagar">
              <b>Clave de factura: {{ cp.clave_factura }}</b><br>
              Fecha de facturación: {{ cp.fecha_facturacion }}<br>
              <label class="fecha_pago_limite">Fecha límite de pago: {{ cp.fecha_limite_pago }}</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
