<div ng-controller="ProveedoresCtrl">
    <h2>Proveedores</h2>
  <div class="row">
    <div class="col-md-8">
    <button id="agregarProveedor" class="btn btn-success" data-toggle="modal" data-target="#nuevoProveedor">
      <i class="fa fa-file-text" aria-hidden="true"></i> Agregar proveedor
    </button>
    <input type="text" ng-show="!pr.editMode" ng-model="buscarProveedor" placeholder="Buscar proveedor" id="buscarProveedor">
    </div>
  </div><hr>
  <div class="row"><div class="col-md-12">
  <table class="table table-striped table-bordered">
    <thead>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Email</th>
      <th>RFC</th>
      <th>Datos bancarios</th>
      <th>Comentarios</th>
      <th>Opciones</th>
    </thead>
    <tbody>
      <tr ng-repeat="pr in proveedores | filter:buscarProveedor">
        <td>
          <input type="text" ng-show="pr.editMode" ng-model="pr.nombre">
          <any ng-show="!pr.editMode">{{ pr.nombre }}</any>
        </td>
        <td>
          <input type="text" ng-show="pr.editMode" ng-model="pr.telefono">
          <any ng-show="!pr.editMode">{{ pr.telefono }}</any>
        </td>
        <td>
          <textarea cols="20" rows="3" ng-show="pr.editMode" ng-model="pr.direccion"></textarea>
          <any ng-show="!pr.editMode">{{ pr.direccion }}</any>
        </td>
        <td>
          <input type="email" ng-show="pr.editMode" ng-model="pr.email">
          <any ng-show="!pr.editMode">{{ pr.email }}</any>
        </td>
        <td>
          <input type="text" ng-show="pr.editMode" ng-model="pr.rfc">
          <any ng-show="!pr.editMode">{{ pr.rfc }}</any>
        </td>
        <td>
          <textarea cols="20" rows="3" col ng-show="pr.editMode" ng-model="pr.datos_bancarios"></textarea>
          <any ng-show="!pr.editMode">{{ pr.datos_bancarios }}</any>
        </td>
        <td>
          <textarea cols="20" rows="3" ng-show="pr.editMode" ng-model="pr.comentario"></textarea>
          <any ng-show="!pr.editMode">{{ pr.comentario }}</any>
        </td>
        <td>
          <button type="button" class="btn btn-success" ng-click="actualizarProveedor()" ng-show="pr.editMode">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-warning" ng-click="editarProveedor(pr)" ng-show="!pr.editMode">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="eliminarProveedor(pr)" ng-show="!pr.editMode">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div></div>

  <!-- Modal -->
  <div class="modal fade" id="nuevoProveedor" tabindex="-1" role="dialog" aria-labelledby="nuevoProveedorModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Nuevo proveedor</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="provNombre">Nombre</label>
              <input required ng-model="nuevo_proveedor.nombre" type="text" class="form-control" id="provNombre" placeholder="Nombre del proveedor">
            </div>
            <div class="form-group">
              <label for="provTelefono">Teléfono</label>
              <input required ng-model="nuevo_proveedor.telefono" type="text" class="form-control" id="provTelefono" placeholder="Teléfono del proveedor">
            </div>
            <div class="form-group">
              <label for="provDireccion">Dirección</label>
              <textarea ng-model="nuevo_proveedor.direccion" class="form-control" id="provDireccion" placeholder="Dirección del proveedor"></textarea>
            </div>
            <div class="form-group">
              <label for="provEmail">E-mail</label>
              <input type="email" ng-model="nuevo_proveedor.email" class="form-control" id="provEmail" placeholder="E-mail del proveedor">
            </div>
            <div class="form-group">
              <label for="provRfc">RFC</label>
              <input ng-model="nuevo_proveedor.rfc" type="text" class="form-control" id="provRfc" placeholder="RFC del proveedor">
            </div>
            <div class="form-group">
              <label for="provDatosBancarios">Datos bancarios</label>
              <textarea ng-model="nuevo_proveedor.datos_bancarios" class="form-control" id="provDatosBancarios" placeholder="Datos bancarios del proveedor"></textarea>
            </div>
            <div class="form-group">
              <label for="provComentario">Comentarios</label>
              <textarea ng-model="nuevo_proveedor.comentario" class="form-control" id="provComentario" placeholder="Datos bancarios del proveedor"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="guardarProveedor()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>
