<h2>Ventas</h2>
<div ng-controller="VentasCtrl" class="container">
  <div class="row"><div class="col-md-2">
    <button class="btn btn-success btn-ventas" data-toggle="modal" data-target="#nuevaVenta">
      <i class="fa fa-file-text" aria-hidden="true"></i> Nueva venta
    </button>
  </div>
  <div class="col-md-8">
    <label>Elige las fecha para consultar las ventas:</label>
    <div class="fechas">
      <input size="25" ng-model="fecha_inicial" type="text" placeholder="Fecha inicial">
      <input size="25" ng-model="fecha_final" type="text" placeholder="Fecha final">
      <button class="btn btn-info" id="consultarVentas" ng-click="consultarVentas()">
        <i class="fa fa-file-text" aria-hidden="true"></i> Consultar
      </button>
    </div>
  </div></div>
  <hr>
  <div class="row"><div class="col-md-12" ng-show="ventas">
  <table class="table table-striped table-bordered">
    <thead>
      <th>Productos</th>
      <th>Cliente</th>
      <th>Clave factura</th>
      <th>Fecha de la venta</th>
      <th>Valor de la venta</th>
      <th>Comentarios</th>
      <th>Opciones</th>
    </thead>
    <tbody>
      <tr ng-repeat="ve in ventas | filter:buscarVenta">
        <td>
          <any ng-repeat="pc in ve.productos_completos" data-toggle="tooltip" title="Cantidad ventada: {{ve.productos[$index].cantidad_vendida}}. Descripción: {{pc[0].descripcion}}.">
            {{ pc[0].nombre }}<any ng-if="$index < ve.productos_completos.length - 1">, </any>
          </any>
        </td>
        <td>
          <input type="text" ng-model="ve.cliente" ng-if="ve.editMode">
          <any ng-if="!ve.editMode">{{ ve.cliente }}</any>
        </td>
        <td>
          <input type="text" ng-if="ve.editMode" ng-model="ve.clave_factura">
          <any ng-if="!ve.editMode">{{ ve.clave_factura }}</any>
        </td>
        <td>
          <div class="fechas" ng-show="ve.editMode">
            <input type="text" ng-model="ve.fecha">
          </div>
          <any ng-show="!ve.editMode">{{ ve.fecha }}</any>
        </td>
        <td>
          <input type="number" ng-if="ve.editMode" ng-model="ve.valor">
          <any ng-if="!ve.editMode">{{ ve.valor }}</any>
        </td>
        <td>
          <textarea col="25", rows="3" ng-show="ve.editMode" ng-model="ve.comentario"></textarea>
          <any ng-show="!ve.editMode">{{ ve.comentario }}</any>
        </td>
        <td>
          <button type="button" class="btn btn-success" ng-click="actualizarVenta()" ng-if="ve.editMode">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-warning" ng-click="editarVenta(ve)" ng-if="!ve.editMode">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="eliminarVenta(ve)" ng-if="!ve.editMode">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div></div>


  <!-- Modal Nueva venta-->
  <div class="modal fade" id="nuevaVenta" tabindex="-1" role="dialog" aria-labelledby="nuevaVentaModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Nueva venta</h4>
        </div>
        <div class="modal-body">
          <form id="form_venta">
            <div class="form-group">
              <label>Elige los producto: </label><input placeholder="Buscar producto" ng-model="buscarProducto" id="buscarProductoVenta">
              <div id="lista_productos">
                <div class="checkbox" ng-repeat="pro in productos | filter:buscarProducto">
                  <label ng-click="seleccionarProducto(pro)">
                    <input type="checkbox" name="lista_productos" ng-model="pro.seleccionado" >
                    {{pro.nombre}}
                  </label>
                  <input ng-change="actualizarValorVenta()" ng-if="pro.seleccionado" type="number" ng-model="pro.cantidad_vendida" placeholder="Max({{pro.existencia}})" min="0" max="{{pro.existencia}}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="cliente">Cliente</label>
              <input type="text" ng-model="nueva_venta.cliente" placeholder="Nombre del cliente">
            </div>
            <div class="form-group">
              <label for="claveFactura">Clave Factura</label>
              <input type="text" ng-model="nueva_venta.clave_factura">
            </div>
            <div class="form-group">
              <label>Fecha</label>
              <div class="fechas">
                <input required id="fecha" size="45" ng-model="nueva_venta.fecha" placeholder="Fecha de la Venta">
              </div>
            </div>
            <div class="form-group">
              <label>Total: </label><br>
              <input type="number" ng-model="nueva_venta.valor" placeholder="Valor total de la venta" required><br>
            </div>
            <div class="form-group">
              <label>Comentario: </label><br>
              <textarea cols="35" rows="5" ng-model="nueva_venta.comentario" placeholder="Comentarios"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button ng-disabled="!productos_seleccionados || !nueva_venta.fecha || !nueva_venta.valor"
          type="button" for="form_venta" class="btn btn-primary"
          data-dismiss="modal" ng-click="guardarVenta()">
          Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
